absl-py==2.0.0
accelerate==0.23.0
aiohttp==3.8.6
aiosignal==1.3.1
anyascii==0.3.2
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1707233003401/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.1
Babel==2.13.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
bangla==0.0.2
blinker==1.6.3
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1695989934239/work
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1696431134479/work
clean-fid==0.1.35
click==8.1.7
clip-anytorch==2.5.2
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy==1.1.1
coqpit==0.0.17
coverage==5.5
cycler==0.12.1
Cython==0.29.30
dateparser==1.1.8
debugpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_563_nwtkoc/croot/debugpy_1690905063850/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
deprecation==2.1.0
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.6.1
encodec==0.1.1
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1725214404607/work
eyed3==0.9.7
ffmpeg==1.4
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1694629184119/work
filetype==1.2.0
Flask==2.3.3
fonttools==4.43.1
frozenlist==1.4.0
fsspec==2023.6.0
ftfy==6.1.1
g2pkk==0.1.2
gitdb==4.0.11
GitPython==3.1.40
gmpy2 @ file:///Users/runner/miniforge3/conda-bld/gmpy2_1666808750085/work
google-auth==2.23.3
google-auth-oauthlib==1.1.0
grpcio==1.59.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gTTS==2.4.0
huggingface-hub==0.26.2
HyperPyYAML==1.2.2
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
imageio==2.31.5
importlib-metadata==6.8.0
importlib-resources==6.1.0
inflect==5.6.2
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1680185563420/work
itsdangerous==2.1.2
jamo==0.4.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
jieba==0.42.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
joblib==1.3.2
jsonlines==1.2.0
jsonmerge==1.9.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1726610684920/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
k-diffusion==0.0.16
kagglehub==0.3.4
kiwisolver==1.4.5
kornia==0.7.0
lazy_loader==0.3
librosa==0.8.1
llvmlite==0.40.1
Markdown==3.5
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1695367493730/work
matplotlib==3.7.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
MouseInfo==0.1.3
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack==1.0.7
multidict==6.0.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==2.8.8
nltk==3.8.1
num2words==0.5.13
numba==0.57.0
numpy==1.26.4
oauthlib==3.2.2
onnx==1.14.1
packaging==23.1
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pathtools==0.1.2
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.1.0
platformdirs==3.11.0
pooch==1.7.0
progressbar==2.5
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1727341649933/work
protobuf==4.23.4
psutil==5.9.6
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1721585709575/work
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyAudioAnalysis==0.3.14
PyAutoGUI==0.9.54
pycparser==2.21
pydub==0.25.1
PyGetWindow==0.0.9
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyMsgBox==1.0.9
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
pynndescent==0.5.10
pyobjc-core==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Quartz==10.1
pyparsing==3.1.1
PyPDF2==2.12.1
pyperclip==1.8.2
pypinyin==0.49.0
PyRect==0.2.0
pysbd==0.3.4
PyScreeze==0.1.30
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-crfsuite==0.9.9
python-dateutil==2.8.2
pytweening==1.0.7
pytz==2023.3.post1
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1695373497981/work
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1666828904711/work
referencing==0.30.2
regex==2023.10.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-oauthlib==1.3.1
resampy==0.4.2
resize-right==0.0.2
rotary-embedding-torch==0.3.3
rpds-py==0.10.6
rsa==4.9
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
rubicon-objc==0.4.7
safetensors==0.4.3
scikit-image==0.22.0
scikit-learn==1.3.0
scipy==1.11.3
seaborn==0.13.2
sentence-transformers==3.3.1
sentencepiece==0.2.0
sentry-sdk==1.32.0
setproctitle==1.3.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
soundfile==0.12.1
soxr==0.3.7
speechbrain==1.0.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tensorboard==2.15.0
tensorboard-data-server==0.7.1
text-unidecode==1.3
threadpoolctl==3.2.0
tifffile==2023.9.26
tokenizers==0.20.3
toml==0.10.2
torch==2.1.0
torchaudio==2.1.0
torchdiffeq==0.2.3
torchsde==0.2.6
torchvision==0.16.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1724956100986/work
tqdm==4.64.1
trainer==0.0.31
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
trampoline==0.1.2
transformers==4.46.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzlocal==5.1
umap-learn==0.5.4
Unidecode==1.3.7
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1697720414277/work
wandb==0.15.12
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
Werkzeug==3.0.0
wget==3.2
wrapt==1.15.0
yarl==1.9.2
zipp==3.17.0
